* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-columns: 1fr;    
    grid-template-areas: 
        "cabecalho"
        "navegacao"
        "principal"
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: #1867c0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    z-index: 1;
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 300;
    font-size: 2.8rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 200;
    font-size: 1.6rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 240px);
    background-color: #f0f0f0;
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.rodape {
    grid-area: rodape;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #1867c0;
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 7px;
    font-size: 1.2rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    text-decoration: none;
    color: #222;
}

.modulo > ul > li:hover {
    background-color: #EEE;
}

.modulo.verde { border: 2px solid #4CAF50; }
.modulo.verde > h3 { background-color: #4CAF50; }

.modulo.vermelho { border: 2px solid #F44336; }
.modulo.vermelho > h3 { background-color: #F44336; }

.modulo.azul { border: 2px solid #2196F3; }
.modulo.azul > h3 { background-color: #2196F3; }

.modulo.roxo { border: 2px solid #9C27B0; }
.modulo.roxo > h3 { background-color: #9C27B0; }

.modulo.laranja { border: 2px solid #FF9800; }
.modulo.laranja > h3 { background-color: #FF9800; }

.modulo.verde-escuro { border: 2px solid #1B5E20; }
.modulo.verde-escuro > h3 { background-color: #1B5E20; }

.modulo.vermelho-escuro { border: 2px solid #B71C1C; }
.modulo.vermelho-escuro > h3 { background-color: #B71C1C; }

.modulo.azul-escuro { border: 2px solid #0D47A1; }
.modulo.azul-escuro > h3 { background-color: #0D47A1; }

.modulo.roxo-escuro { border: 2px solid #4A148C; }
.modulo.roxo-escuro > h3 { background-color: #4A148C; }

.modulo.laranja-escuro { border: 2px solid #E65527; }
.modulo.laranja-escuro > h3 { background-color: #E65527; }

p.divisao {
    margin-bottom: 0px;
    font-weight: bold;
}

hr {
    margin-top: 0px;
}

.navegacao {
    grid-area: navegacao;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
}

.navegacao > a {
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
    font-size: 1.3rem;
    background-color: #2196f3;
    padding: 5px 10px;
    margin-right: 10px;
}

.navegacao > a.verde { background-color: #4CAF50; }
.navegacao > a.vermelho { background-color: #F44336; }

span.usuario {
    flex-grow: 1;
    justify-self: flex-start;
    color: #EEE;
    padding-left: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}